# Análise Dos Dados - IBOVESPA

## Leitura e Pré-processamento dos dados

In [1]:
import pandas as pd

In [4]:
file = r'C:\Users\Usuario\Downloads\FIAP-tech-challenge-2\raw-data\Dados Históricos - Ibovespa.csv'

In [7]:
df = pd.read_csv(file, sep=',')

In [11]:
df.head()

         Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0  27.02.2025  124.799   124.768  125.497  124.352  12,55B   0,02%
1  26.02.2025  124.769   125.980  126.563  124.732  11,36B  -0,96%
2  25.02.2025  125.980   125.401  126.718  125.382  11,08B   0,46%
3  24.02.2025  125.401   127.129  127.275  125.162  10,15B  -1,36%
4  21.02.2025  127.128   127.601  127.654  126.483  11,09B  -0,37%

In [10]:
df.dtypes

Data         object
Último      float64
Abertura    float64
Máxima      float64
Mínima      float64
Vol.         object
Var%         object
dtype: object

In [9]:
df.describe()

            Último     Abertura       Máxima       Mínima
count  4745.000000  4745.000000  4745.000000  4745.000000
mean     74.965063    74.946324    75.661524    74.237798
std      28.189923    28.187076    28.325553    28.053524
min      29.435000    29.438000    31.480000    29.435000
25%      53.348000    53.340000    53.976000    52.760000
50%      64.593000    64.589000    65.182000    63.983000
75%     102.063000   102.061000   103.056000   100.954000
max     137.344000   137.349000   137.469000   136.664000